@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input {
    @apply focus:outline-0 focus:outline-none focus:ring-0 focus-visible:outline-0 focus-visible:outline-none focus-visible:ring-0;
  }

  select {
    @apply focus:outline-0 focus:outline-none focus:ring-0 focus-visible:outline-0 focus-visible:outline-none focus-visible:ring-0;
  }

  button {
    @apply focus:outline-0 focus:outline-none focus:ring-0 focus-visible:outline-0 focus-visible:outline-none focus-visible:ring-0;
  }

  a {
    @apply focus:outline-0 focus:outline-none focus:ring-0 focus-visible:outline-0 focus-visible:outline-none focus-visible:ring-0;
  }

  textarea {
    @apply focus:outline-0 focus:outline-none focus:ring-0 focus-visible:outline-0 focus-visible:outline-none focus-visible:ring-0;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}